@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Merriweather:wght@400;700&display=swap');

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .font-cursive {
    font-family: 'Dancing Script', cursive;
  }

  .font-serif {
    font-family: 'Merriweather', serif;
  }
}
